footer {
  text-align: center;
}

.footer-bar {
  font-family: $text__family-headings;  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  max-width: 420px;
  margin: auto;
}

.footer-bar__item {
  > a {
    color: $text__color;
  }
}
