.header {
  a, button {
    color: $text__color--bg;
  }
  a:hover, button:hover {
    color: #eee;
  }

  color: $text__color--bg;
  background-color: $color__primary--dark;
}

.title {
  margin-top: 2rem;
  @include breakpoint(s) {
		margin-top: 4rem;
	}
}
.site-description {
  margin-top: 0;
  margin-bottom: 3rem;
}