.header,
.header-bg {
  a, button {
    color: $text__color--bg;
  }
  a:hover, button:hover {
    color: #eee;
  }
  color: $text__color--bg;
}

.header {
  background-color: $color__primary--dark;
}

.header-bg {
  position: absolute;
  top: -20px;
  @include breakpoint(s) {
    top: 0;
	}
}

.title {
  margin-top: 4rem;
  font-size: $text__size--h1;
}
.site-description {
  font-size: $text__size--h2;
  margin-top: 0;
  margin-bottom: 3rem;
}