.wrapper {
  padding: 20px;
  @include breakpoint(s) {
    padding: 40px;
	}
}

.container {
  max-width: $page__width--max;
}

.container--small {
  max-width: $content__width--max;
}

.container--center {
  margin: auto;
}

.card {
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  height: 100%;

  :first-child {
    margin-top: 0;
  }
}

.card--wmargin,
.card__content--wmargin {
    margin-top: $spacing__margin * 2;
    margin-bottom: $spacing__margin * 1.5;
}

.card__background {
  padding: 40px 0;
  color: $text__color--bg;
  @include gradient(top);

  &:first-child {
    margin-top: 0;
  }
 }

.card__content {
  position: relative;
  z-index: 1;
  @extend .wrapper;
  padding-top: 0;
  padding-bottom: 0;
}

.card__content--l {
  padding-top: 120px;
  padding-bottom: 120px;
}

.grid {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;

  @include breakpoint(s) {    
    flex-flow: row;
    flex-wrap: wrap;
	}
}

.grid--gallery {
  justify-content: left;
}

.grid__item--3 {
  width: 100%;
  margin: .16%;

  @include breakpoint(m) {
		width: 33%;
	}
}

.grid__item--2 {
  width: 100%;
  margin: .16%;

  @include breakpoint(m) {
		width: 49%;
	}
}

/** Example grid elements **/
.grid__sidebar-s {
  width: 100%;
  box-sizing: border-box;

  @include breakpoint(m) {   
    width: 40%; 
    max-width: 350px;
	}
}

.grid__sidebar-l {
  width: 100%;

  @include breakpoint(m) {   
    width: calc(60% - 20px); // 20px margin
	}
}

.grid__sidebar-s,
.grid__sidebar-l {
  height: 100%;
  margin-bottom: $spacing__margin;
}