html {
  font-size: 62.5%
}

h1,h2,h3,h4 {
  line-height: 1.4;
  margin-bottom: $spacing__margin / 2;
  margin-top: $spacing__margin * 2;
}

h1 {
  font-size: $text__size--h1 * 0.75;
  @include breakpoint(s) {
		font-size: $text__size--h1;
	}

  line-height: 1.2;
  font-family: $text__family-headings;
}

h2 {
  font-size: $text__size--h2 * 0.75;
  @include breakpoint(s) {
		font-size: $text__size--h2;
	}
  font-family: $text__family-headings;
}

h3 {
  font-size: $text__size--h3 * 0.75;
  @include breakpoint(s) {
		font-size: $text__size--h3;
	}
  font-family: $text__family-headings;
}

h4 {
  font-size: $text__size--medium * 0.9;
  @include breakpoint(s) {
		font-size: $text__size--medium;
	}
  font-family: $text__family-headings;
  text-decoration: underline;
}

body,
input,
select,
textarea {
  font-size: $text__size--medium * 0.9;
  @include breakpoint(s) {
		font-size: $text__size--medium;
	}
  font-family: $text__family-body;
  color: $text__color;
  line-height: 1.6;
  font-weight: 400;
}

p {
  margin-top: $spacing__margin;
}

strong, bold {
  font-weight: 600;
}

em, i {
  font-style: italic;
}

code {  
  font-size: 1.3rem;
}

/** blockquote **/
blockquote {
  font-style: italic;
  max-width: $content__width--max * .75;
  margin: $spacing__margin;
  padding: 1.0rem;
  > p {
    margin: 0;
  }
}
blockquote.highlight {
  max-width: 100%;
  border: none;
  text-align: center;
  font-size: $text__size--h3 * 0.75;
  @include breakpoint(s) {
		font-size: $text__size--h3;
	}
  padding-left: 0;

  i {
    margin: 2rem 0;
    display: block;
  }
}

hr {
  border: 0;
	border-bottom: $spacing__margin / 2 dotted $color__primary;
  margin: $spacing__margin 0;
}
ul,
ol {
	margin: 1.5em 0 1.5em 1.5em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}

/** Footnote **/
sup { 
  vertical-align: super;
  font-size: smaller;
}
li {
  @extend p;
  > p {
    display: inline;
  }
}
li, 
sup {
  transition: 0.5s;
}
sup:target {
  background-color: $link__color;
  > a {
    color: $text__color--bg;
  }
  
}
li:target {
  border-left: 4px dashed $link__color;
  padding-left: 10px;
}