
/** Typography **/
$text__family-headings: 'PT Sans', sans-serif;
$text__family-body: 'PT Serif', serif;

$text__size--h1: 5.2rem;
$text__size--h2: 3.1rem;
$text__size--h3: 2.5rem;
$text__size--medium: 2.0rem;
$text__size--small: 1.6rem;

/** Color **/
$color__primary: #f15656;
$color__primary--light: #f58585;
$color__primary--dark: #f04646;
$color__neutral: #000;

@mixin gradient($direction) {
  background-color: linear-gradient(to $direction, #020a16, $color__neutral)
}

$text__color: #404040;
$text__color--light: #808080;
$text__color--dark: #2f2f2f;
$text__color--bg: #fff;
$link__color: $color__primary;
$link__color--hover: $color__primary--light;

/** Layout **/
$page__width--max: 1200px;
$content__width--max: 890px;

$spacing__margin: 2.5rem;

/** Breakpoints **/
$breakpoint--l: 64em;
$breakpoint--m: 50em;
$breakpoint--s: 37.5em;