---
layout: page
title: 404 Not found
excerpt: Were you looking for one of these articles?
---
{% for post in site.posts %}
    <article>
        <h2>  
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <div class="excerpt">
            {% if post.excerpt %}{{ post.excerpt | strip_html | strip_newlines}}
            {% else %}{{ post.description }}{% endif %}
        </div>
    </article>
{% endfor %}