---
layout: story
title: E5
excerpt: 
---
<div id="e5">
  {% include {{ site.story_dir }}/hero.html image="IMG_7547" headline="Crossing the Alps" subline="From Oberstdorf to Meran" %}

  <blockquote>
    "None of your knowledge, your reading, your connections will be of any use here: two legs suffice."
    <br/>
    <i>Frédéric Gros, A Philosophy of Walking</i>
  </blockquote>

  <p>
    The E5...
  </p>

  {% include {{ site.story_dir }}/icon.html distance="x km" %}
  {% include {{ site.story_dir }}/icon.html ascend="x km" descend="x km" %}

  <a href="e5/day-one">
    {% include {{ site.story_dir }}/imageF.html image="IMG_7252" title="Day #1" %}
  </a>
</div>

