<footer>
    <div class="wrapper">        
        <div class="additionals"></div>
        <a href="https://github.com/fstiehle/fabianstiehle.com"><i class="icon-github-circled"></i> View Source</a>
        <a target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"><i class="icon-rss"></i> Subscribe</a>
        <a class="right" href="#top"><i class="icon-angle-up"></i> Back to top</a>
    </div>
    <script>
        {% include loadCSS.js %}
        {% include util.js %}
    </script>
</footer>