<footer>
    <div class="wrapper">        
        <a class="right" href="#top"><i class="icon-angle-up"></i> Back to top</a>
        <div class="additionals"></div>
        <a class="centeredtext" href=""><i class="icon-github-circled"></i> View Source</a>
        <a class="centeredtext" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"><i class="icon-rss"></i> Subscribe</a>
    </div>
    <script>
        {% include loadCSS.js %}
        {% include util.js %}
    </script>
</footer>