<header>
    <div class="mobile border toggle-content slide-up">About <i class="icon-angle-down"></i></div>

    <div class="hidden-content slide-up">

        <img class="me" src="assets/img/me.jpg">
        <div class="description">
            <h1>{{ site.description }}</h1>    

            <div class="social">
                <a title="Twitter" href="https://twitter.com/fstiehle"><i class="icon-twitter"></i></a>
                <a title="Github" href="https://github.com/fstiehle/"><i class="icon-github-circled"></i></a>
                <a title="Medium" href="https://medium.com/@fstiehle/"><i class="icon-medium"></i></a>
            </div>
        </div>

    </div>

   </header>