/*--------------------------------------------------------------
fabianstiehle.com
--------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body,
html {
    position: relative;
    width: 100%;
    min-width: 320px;
    background-color: #fff;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 62.5%;
}
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
	font-size: 16px;
	font-size: 1.9rem;
	line-height: 1.6;
}
/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/
a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out; 	
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
header > a:hover,
#navi a:hover {
    font-size: 1.8em;
}
a,
a:visited {
    color: #404040;
    text-decoration: underline;
    text-decoration-color: #FFC371;
}
a:hover,
a:focus,
a:active {
	color: #808080;
}
footer a,
#navi a,
#frontpage a {
    text-decoration: none;
}
.no-bg a {
    color: #fff !important;
}
.no-bg a:hover {
    color: #ddd !important;
}
/*--------------------------------------------------------------
Page
--------------------------------------------------------------*/
.wrapper {
    max-width: 1000px;
    margin: auto;
    padding: 40px;
}
#frontpage { 
    margin: auto;
    display: flex;
    line-height: 1.2;
}
#frontpage .wrapper {
    margin: 0;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    order: 0;
    overflow: auto;
    min-width: 250px;
    max-width: 350px;
    width: auto;
    min-height: 100%;
    padding: 60px 0 60px 0;
    text-align: center;
}
#navi {
    font-weight: 700;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    font-size: 1.8rem;
    z-index: 999;
}
.right {
    display: inline-block;
    float: right;
    margin-right: 10px;
}
.no-bg {
    background-color: transparent !important;
}
#me { 
    width: 140px;
    height: 140px;
}
#me > img {
    border-radius: 100%;
}
header > a {
    display: block;
    width: 100%;
    float: left;
    margin-top: 0.5rem;
}
.border {
    border-width: 0 0 3px 0;  
    border-style: solid;
    border-image: linear-gradient(to right, #FFC371, #FFB88C) 100% 1; 
}
.icon-twitter {
    margin-right: 2px;
}
#description {
    padding: 0 40px;   
}
#frontpage h2 {
    width: 100%;    
}
#description,
.excerpt {
    margin: 20px 0 20px 0;
    color: #808080;
    padding-bottom: 20px;
}
#items {
    flex-grow: 1;
    order: 1;
    padding: 20px;
}
article {
    margin-bottom: 6.0rem;
}
footer {
    width: 100%;
}
footer a {
    margin-right: 15px;
}
.additionals {
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
}
code {
    text-align: left;
    margin: 15px 0 15px 0;
    line-height: 1.7 !important;
    display: block;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 5px;
    font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    background-color: #f2f2f2;
    overflow-x: scroll;
}
strong, bold {
    font-weight: 600;
}
.icon-cancel-circled {
    font-size: 10rem;
    text-align: center;
}
/*--------------------------------------------------------------
Article
--------------------------------------------------------------*/
h1, h3 {
    color: #2A2A2A;
    line-height: 1.1;
}
h1,
#frontpage h2 {
    margin: 2.0rem 0 3.0rem 0;
    font-size: 4.2rem;
    z-index: 1;
    font-weight: bold; 
}
.hero > h1 {
   font-size: 5.0rem; 
}
h2,
#frontpage h3 {
    line-height: 1.3;
    font-size: 2.6rem;
    margin: 10px 0 5px 0;
}
.wrapper > .hero > h2 {
    padding-bottom: 20px;
}
h3 {
    font-size: 2.0rem;
    margin: 4.5rem 0 1.5rem 0;
    font-weight: 600;
}
h4 {
    font-size: 1.8rem;
    margin: 2.5rem 0 0.6rem 0;
    display: inline-block;
    border-bottom: 2px solid #000;
}
.hero {
    padding: 40px 0 20px 0;
    max-width: 70.0rem;
    margin: auto;
}
.shadow > .hero { 
    margin: 5.0rem auto 5.0rem auto;
    /* has no wrapper, so padding is needed */
    padding: 40px 40px 60px 40px;
    color: #fff;
    height: 100%;
}
.shadow > .hero > h1 {
    color: #fff;
}
.hero-bg {
    background-color: #000;
    width: 100%;
    height: 100%;
    /* display at least that from the background image */
    min-height: 550px;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.shadow {
    overflow: hidden;
    height: 100%;
    width: 100%;
    min-height: 550px;
    background-color: rgba(0, 0, 0, 0.2);
}
#main {    
    max-width: 68rem;
    margin: auto;
}
.note {
    font-size: 2.2rem;
}
blockquote {
    line-height: 1.5;
    margin: 2.5rem 0;
    padding: 10px 0 10px 0;
    padding-left: 2.0rem;
    border-left: 5px solid #000;
}
.panorama {    
    margin: 40px 0;
    position: relative;
    width: auto;
    height: auto; 
    text-align: center;
}
.panorama img {
    margin-left: -45%; /* TODO */
    height: auto;
    max-width: none;
    max-height: none;  
}
.footnotes {
    font-size: 1.6rem;
}
/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/
blockquote {
    color: #2A2A2A;
}
p {
    display: block;
    width: 100%;
    margin-top: 2.0rem;
}
blockquote > p {
    margin: 0;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
ul,
ol {
	margin: 0 0 1.5em 1.5em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
em, i {
    font-style: italic;
}
img {
    background-color: #f2f2f2;
	-webkit-transition: all .2s ease-in-out;
  	-moz-transition: all .2s ease-in-out; 	
  	-o-transition: all .2s ease-in-out;
 	transition: all .2s ease-in-out;
}
img:hover {
	opacity: 0.85;
	filter: alpha(opacity=85);	
}
article img {
    min-width: 200px;
    height: auto;
    max-width: 100%;
}
.button {
    font-size: 1.8rem;
    padding: 0.5em 3em;
    border-radius: 2px;
    margin: 40px auto auto auto;
    background-color: #f06060;
    box-shadow: 0 3px 0 0 #cd1313;
    display: inline-block;
    color: #fff !important;
    text-decoration: none;
    clear: both;
}
.button > i { /* icon color */
	color: #fff;
}
.button:hover {
	background-color: #ed4444;
	color: #fff;
}
.button:active {
	box-shadow: 0 1px 0 0 #cd1313;
	-moz-box-shadow: 0 1px 0 0 #cd1313;
	-webkit-box-shadow: 0 1px 0 0 #cd1313;
	color: #fff;
}
input[type=range] {
    min-width: 50%;
}
.centeredtext {
    display: inline-block;
    width: 100%;
    text-align: center;
}
sup { 
    vertical-align: super;
    font-size: smaller;
}
/*--------------------------------------------------------------
stage
--------------------------------------------------------------*/
figure {
    text-align: center;
}
/* not doesn't seem to work here */
.stage figure {
    text-align: left;
}
figure,
.stage {
    margin: 2.0rem 0 2.0rem;
}
figcaption {
    margin: 0.5rem;
    font-size: 1.6rem;
    color: #999;
}
.stage {   
    overflow-x: auto;     
    line-height: 1.2;
    height: auto;
    display: flex;
    flex-flow: row;
    align-items: center;
    flex: none;
}
.box,
.stage > figure {
    margin: 1.5rem;
}
.column {
    display: flex;
    flex-flow: column;
}
.box {
    text-align: center;
    padding: 20px 30px;
    background-color: #f2f2f2;
    border-radius: 4px;
    color: #333;
    font-size: 1.8rem;
}
.arrows,
.box,
.stage > figure,
.column {
    flex: none;
}

/*--------------------------------------------------------------
widgets
--------------------------------------------------------------*/
.widget {
    width: 100%;
    padding: 4.0rem 0;
    margin-top: 5.0rem;
    border-top: 1px solid #eee;
}
#twitter {
    padding: 0;
    padding-top: 4.0rem;
    text-align: center;
    font-size: 4.0rem;
    line-height: 1.0;
}
#twitter > a {
    text-decoration: none;
}

#twitter > a:hover {
    color: #1da1f2;
}

/*--------------------------------------------------------------
@media
--------------------------------------------------------------*/
@media (max-width: 780px) {
    #me {
        margin-bottom: 0;
    }
    #frontpage {
        flex-flow: column !important;
    }
    #description {
        display: inline-block;
    }
    header {
        flex-grow: 1;
        min-width: 100%;
        overflow: hidden;
        padding: 2.0rem 0 1.0rem 0;
    }
    #navi {
        background: linear-gradient(to right, #FFC371, #FFB88C);
    }
    #navi a {
        color: #fff;
    }
    header > a:hover,
    #navi a:hover {
        font-size: 1em;
    }
    #items {
        padding: 20px 0 0 0;
    }
}
@media (max-width: 400px) {
    #description {
        border: none;
    }
    .wrapper {
        margin: 0 20px 0 20px;
        padding: 20px 0;
    }
    .shadow > .hero {
        margin-top: 40px;
        /* align with wrapper */
        padding: 20px 20px 0 20px;
    }
    h1 {
        font-size: 3.8rem;
    }
    h2 {
        font-size: 2.4rem;
    }
}

/*--------------------------------------------------------------
Syntax Highlighting
--------------------------------------------------------------*/
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */