@import "variables.scss";

.excerpt {
  color: #808080;
  font-weight: 300;
}

#frontpage { 
  margin: auto;
  display: flex;

  @media (max-width: $break-l) {  
    flex-flow: column;
  }

}

#frontpage > .wrapper {
  display: flex;
  @media (max-width: 1250px) {     
      flex-wrap: wrap;
  }
}

#items {
  width: 70%;
  flex-grow: 1;
  order: 1;
  padding: 20px;

  @media (max-width: $break-l) {  
    padding: 0;
  }
  
}

.asides {
  order: 2;
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  padding: 40px;
  padding-right: 0;
  margin-left: 10px;
  
  @media (max-width: 1250px) {
    width: 100%;
    padding: 20px;
    margin: 0;
    background-color: $color-main-light;
    margin-bottom: 3.0rem;
  }

  article {
    width: 100%;
    max-width: 300px;

    @media (max-width: 1250px) {
      max-width: 45%;
    }

    @media (max-width: $break-l) {
      min-width: 100%;
    }

  }

  h2 {
    margin: 2.0rem 0 2rem 0;
    z-index: 1;
    font-weight: 300;
    line-height: 1.2;
  }

  h3 {
    font-size: 1.9rem;
  }

}

#frontpage .post-meta {
  margin-top: 2.5rem;
}