body,
html {
    position: relative;
    width: 100%;
    min-width: 320px;
    background-color: #fff;
    overflow-x: hidden;
}
.wrapper {
  box-sizing: border-box;
  margin: auto;
  padding: 0 40px;

  @media (max-width: $break-m) {  
    margin: 0 20px;
    padding: 0;
  }
}
.border {
  border-width: 0 0 3px 0;  
  border-style: solid;
  @include border();
}
#navi {
  font-weight: 700;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  font-size: 1.8rem;
  z-index: 999;

  a:hover {
    font-size: 1.8em;
  }

  @media (max-width: 1130px) {  
    @include background();
    position: relative;
    a {
      color: #fff;
    }
    a:hover {
      color: #333;
      font-size: 1em;
    }
  }  
}

.no-bg {
  background-color: transparent !important;
}
.border {
  border-width: 0 0 3px 0;  
  border-style: solid;
  border-image: linear-gradient(to right, #FFC371, #FFB88C) 100% 1;
  padding-bottom: 1.0rem;
}
article {
  padding-bottom: 3.0rem;
}
footer {
  padding: 3rem 0;
  text-align: center;
  a {
    margin-right: 15px;
  }
}
.additionals {
  margin-bottom: 1rem;
}
img {
  background-color: #f2f2f2;
  transition: all .2s ease-in-out;
}
iframe {
  max-width: 100%;
}
.embed-container {
  position: relative; 
  padding-bottom: 56.25%; /* ratio 16x9 */
  height: 0; 
  overflow: hidden; 
  width: 100%;
  height: auto;
}
.embed-container iframe {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}
img:hover {
  opacity: 0.85;
}
.right {
  float: right;
}
.hidden-content {
  max-height: 0;            
  overflow-y: hidden;
  transition: max-height 0.5s ease-in-out;
}

.slide-down {            
  max-height: 20em !important;
}