$color-main: #FFC371;
$color-main-variation: #FFB88C;
$color-main-light: #fff6a1;

$font-size-h1: 4.2rem;
$font-size-h2: 2.6rem;
$font-size-h3: 2.1rem;; 
$font-size-h4: 1.8rem; 

$break-l: 880px;
$break-m: 500px;
$break-s: 400px;

@mixin border() {
  border-image: linear-gradient(to right, #FFC371, #FFB88C) 100% 1; 
}

@mixin background() {
  background: linear-gradient(to right, #FFC371, #FFB88C);
}
