.widget {
  width: 100%;
  padding: 4.0rem 0;
  margin-top: 5.0rem;
  border-top: 1px solid #eee;
}
.twitter {
  padding: 0;
  padding-top: 4.0rem;
  text-align: center;
  font-size: 4.0rem;
  line-height: 1.0;
}
.twitter > a {
  text-decoration: none;
}

.twitter > a:hover {
  color: #1da1f2;
}