---
layout: story
title: Day One
excerpt: 
---
<div id="day-one">
  {% include {{ site.story_dir }}/hero.html image="IMG_7252" headline="Day #1" subline="Subtle Beginnings" %}

  <blockquote>
    "I will either find a way, or make one."<br/>
    <i>Latin proverb, most commonly attributed to Hannibal in response to his generals
      who had declared it impossible to cross the Alps with elephants.</i>
  </blockquote>

  <div class="map">
    <iframe src="https://snazzymaps.com/embed/30009" width="100%" height="600px" style="border:none;"></iframe>
  </div>

  <p>
    Oberstdorf marks the start of our one week Journey. We arrive at around 11:00 on a cloudy day. 
    A quick measurement of my back pack reveals 6.5kg without water. No one should have to carry more than
    8kg across the alps.
  </p>

  <div class="squish">
    {% include {{ site.story_dir }}/icon.html clock="4 hours" %} 
    {% include {{ site.story_dir }}/icon.html weather="Cloudy" %} 
    {% include {{ site.story_dir }}/icon.html ascend="xkm" descend="xkm"%} 
    {% include {{ site.story_dir }}/icon.html distance="xkm" %} 
    {% include {{ site.story_dir }}/icon.html backpack="Backpack of 6.5kg"%} 
  </div>

  <p>
    We skip the boring route up to Spielmannsau by taking a short route by bus. 
    We start our ascend to our destination of the first day: the xxx meters heigh Kemptner hut.
  </p>

  <div class="gallery">

    {% include {{ site.story_dir }}/imageL.html image="IMG_7135" title="The first meters of a long week to come." %} 

    {% include {{ site.story_dir }}/imageL.html image="IMG_7139" title="The weather." %} 

  </div>

  <p>
    After a short gravel road we set foot on the hiking trail: (stoney) and muddy ground from the rain yesterday 
  </p>
  
  <div class="squish">
    {% include {{ site.story_dir }}/imageF.html image="IMG_7154" title="Only one at a time" %} 

    {% include {{ site.story_dir }}/imageF.html image="IMG_7151" title="Waterfalls big and small are the highlight on this wolkenbehangenen tag " %} 
  </div>

  <div class="gallery">
      
    {% include {{ site.story_dir }}/imageL.html image="IMG_7146" title="High grass" %} 
    
    {% include {{ site.story_dir }}/imageL.html image="IMG_7150" title="As we ascend higher fog starts to appear" %} 
      
  </div>

  <p>
  Once we made apx. 1/3 of the track we enter thick fog, 
  the rest walk should be defined by fast currents and waterfalls which we can't see but hear
  </p>

  <div class="gallery">
  
    {% include {{ site.story_dir }}/imageL.html image="IMG_7175" title="As mudy and stoney as the trail is its still perfectly ausgebaut and not at all a challenge. Shouldn't be this way for long." %} 

    {% include {{ site.story_dir }}/imageL.html image="IMG_7180" title="Why didn't I bring my banshee? " %} 

    {% include {{ site.story_dir }}/imageL.html image="IMG_7196" title="The fog intensifies as we attempt the final part of the ascend" %} 
         
  </div>

  {% include {{ site.story_dir }}/audio.html source="test" %}

  {% include {{ site.story_dir }}/pause.html height="300px" %}
  {% include {{ site.story_dir }}/pause.html height="300px" %}

  {% include {{ site.story_dir }}/video.html source="IMG_8081.m4v" %}

  {% include {{ site.story_dir }}/pause.html height="400px" %}

  <div class="audio_end"></div>

  <div class="gallery">
      
    {% include {{ site.story_dir }}/imageL.html image="IMG_7211" title="Too cool for the railing (Wander-Seil?)" %} 

    {% include {{ site.story_dir }}/imageL.html image="IMG_7217" title="Water spilling from massive rock formations everywhere" %} 

    {% include {{ site.story_dir }}/imageL.html image="IMG_7221" title="Nearly there!" %} 
    
    {% include {{ site.story_dir }}/imageL.html image="IMG_7222" title="The surprisingly comfortable Kemptner Hut" %} 
      
  </div>

  <p>
    After a mere 3 hour walk we arrive at our first destination one thing to read from everyone face:
    "if every day walk will be like this we're in for a stroll". It wouldn't be like that at all.
  </p>

  {% include {{ site.story_dir }}/smiley.html smileys="🤠,🐷,👍"  %} 
      
</div>