---
layout: story
title: Day One
excerpt: 
---

{% include {{ site.story_dir }}/hero.html image="IMG_7252" headline="Day #1" subline="Subtle Beginnings" %}

<p>
  We arrive at Oberstdorf at around 11:00 on a Wolkenbehangenen Tag. 
  A quick measurement of my back pack reveals 6.5kg (how much in pound?) 
  without water. A really good weight: 8kg (water included) should be the
  guideline.
</p>

{% include {{ site.story_dir }}/audio.html source="test" %}

<div class="gallery">

  {% include {{ site.story_dir }}/imageL.html image="IMG_7135" title="Lorem ipsum Lorem ipsum" %} 

  {% include {{ site.story_dir }}/imageL.html image="IMG_7135" title="Lorem ipsum Lorem ipsum" %} 

</div>

{% include {{ site.story_dir }}/pano.html image="IMG_7896" width="6434" height="1565" title="Lorem ipsum Lorem ipsum" %} 

<p>
  We arrive at Oberstdorf at around 11:00 on a Wolkenbehangenen Tag. 
  A quick measurement of my back pack reveals 6.5kg (how much in pound?) 
  without water. A really good weight: 8kg (water included) should be the
  guideline.
</p>

<div class="audio_end"></div>

<div class="gallery">
    
  {% include {{ site.story_dir }}/imageL.html image="IMG_7135" title="Lorem ipsum Lorem ipsum" %} 

  {% include {{ site.story_dir }}/imageL.html image="IMG_7135" title="Lorem ipsum Lorem ipsum" %} 

  {% include {{ site.story_dir }}/imageL.html image="IMG_7135" title="Lorem ipsum Lorem ipsum" %} 

  {% include {{ site.story_dir }}/imageL.html image="IMG_7135" title="Lorem ipsum Lorem ipsum" %} 

  {% include {{ site.story_dir }}/imageL.html image="IMG_7135" title="Lorem ipsum Lorem ipsum" %} 
    
</div>

{% include {{ site.story_dir }}/video.html source="IMG_8081.m4v" %}

