@import "story/variables.scss";

#hero {
  margin: auto;
  
  @media (orientation: portrait) { 
    position: relative;
    height: 100%;
    width: auto;
  }

  img {
    max-width: 1920px;
    min-height: 100vh;
    width: auto;
    height: auto;
  }

  .text {
    position: absolute;
    top: 20vw;
    left: 10%;
    display: block;

    canvas {
      z-index: -1;
      opacity: 0.5;
      overflow: scroll;
      top: 0;
      left: 0;
      position: absolute;
      width: 80vw;
      height: 120%;
    }
  }

}