@import "story/variables.scss";

#hero {
  margin: auto;
  width: 100%;
  min-height: 200px;
  text-align: center;

  img { 
    max-width: 1920px;
    width: 100%;
    height: auto;  
  }

  .text {
    width: 100%;
    position: absolute;
    top: 10%;
    text-align: center;
    display: block;
    opacity: 1;
  }

  h1, h2 {
    color: $font-color-image;
  }

  h1 {
    font-size: 6vw;
    margin-bottom: .2rem;
  }

  h2 {
    font-size: 3vw;
  }

}