@import "story/variables.scss";

.icons {
  background-color: $sunrise-color;
  margin-top: $margin;
  padding: 10rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  
  div {
    font-size: $h2-size;
    font-weight: bold;
    width: 40%;
  
    &:nth-child(1) {
      margin-left: 0rem;
    }
  }

  object {
    height: 200px;
    filter: invert(100%);
    opacity: 0.9;
  }

}