@import "story/variables.scss";

img {
  width: 100%;
  background-color: $font-color;
  height: auto;
}

.gallery {
  margin: auto;
  
  img {
    max-width: $item-width;
    width: 100%;
    height: auto;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);   
  }
}

figcaption {
  color: $font-color-secondary;
  margin: .5rem 0 0 0;
  margin-right: 2rem;
}

.gallery-item {
  max-width: $item-width;
  margin: ($margin * 0.35) 0.5rem 0 0.5rem;

  &:nth-child(1) {
    margin-top: 0;
  }

  @media (min-width: $break-l) { 
    &:nth-child(-n+2) {
      margin-top: 0;
    }
  }

}

