@import "story/variables.scss";

.pano {
  margin-top: $margin;
  position: relative;
  
  .container {
    overflow-x: hidden;
  }

  img {
    max-height: 95vh;
    width: auto;
  }

  figcaption {
    text-align: center;
  }
}

.controlles {
  position: absolute;
  bottom: 10%;
  width: 100%;
}

.h-scroll-indicator {
  font-size: 5.0rem;
  cursor: pointer;
}

.scroll {
  overflow-x: auto !important;
}