$background-color: #111;
$font-color: #EFEFEF;
$font-color-secondary: rgb(193, 221, 190);
$sunrise-color: #FFD275;
$crazy-color: #ff00ff;
$font-color-image: #111;

$default-font-size: 1.2rem;
$h1-size: 6vw;
$h2-size: 4vw;

$item-width: 875px;
$break-l: 1790px;
$break-m: 1000px;
$break-s: 600px;
$margin: 40vh;