---
layout: default
---
<div class="no-bg" id="navi">
    {% include nav.html %}
    {% include postNav.html %}
</div>
<article class="scene" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="hero-bg" style="background-image: url({{ page.hero |  prepend: "/" | prepend: site.imgurl}}.jpg);">  
        <div id="bg" class="shadow">
            <div class="hero">
                <h1 itemprop="name headline">{{ page.title }}</h1>
                {% if page.excerpt %}
                    <h2>{{ page.excerpt }}</h2>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="wrapper{% if page.note %}{{ " note" }}{% endif %}">      
        <div id="main" itemprop="articleBody">
            {% include date.html %}
            {{ content }}
            {% include twitter.html %}
        </div>
     </div>
</article>