.full-width {
  // thanks to https://twitter.com/Una
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;  
}

.image-box {
  margin-top: $spacing__margin * 2;
  margin-bottom: $spacing__margin * 2;
  padding: $spacing__margin 0;
  background-color: $color__neutral;
  text-align: center;
}

figure {
  @extend .full-width;
  @extend .image-box;
  color: $text__color--bg;
}

figcaption {
  font-size: $text__size--small;
  max-width: $content__width--max;
  margin: auto;
  margin-top: $spacing__margin;
}