$text__family-sans: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$text__family-serif: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

$text__size--h1: 4.1rem;
$text__size--h2: 3.1rem;
$text__size--h3: 2.1rem;
$text__size--medium: 1.8rem;
$text__size--small: 1.2rem;

//$color__primary: 
//$color__neutral

$text__color: #404040;
$text__color--light: #808080;