@import "reset.scss";
@import "story/image.scss";

$background-color: #111;
$font-color: #EFEFEF;

body {
	color: $font-color;
	font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
	font-size: 10px;
	font-size: 1.0rem;
	line-height: 1.1;
}

#story {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: $background-color;
}

.gallery {
  max-width: 1770px;
  padding: 0;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  align-items: flex-start;
}

img {
  max-width: 100%;
}

footer {
  display: none;
}