@import "reset.scss";
@import "story/variables.scss";
@import "story/image.scss";
@import "story/hero.scss";
@import "story/pano.scss";
@import "story/animations.scss";

body {
	color: $font-color;
	font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
	font-size: 1.0rem;
	line-height: 1.3;
}

img {
  background-color: $font-color;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 1.6rem;
}

p {
  text-align: center;
  max-width: 875px;
  padding: 0 20px;
  margin: auto;
  margin-top: $margin;
  font-size: 1.4rem;
}

#story {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: $background-color;
}

.gallery {
  max-width: 1770px;
  padding: 0;
  height: 100%;
  margin: auto;
  margin-top: $margin;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  align-items: flex-start;

  .gallery-item figcaption:nth-last-of-type(-n+2) {
    margin-bottom: 0;
  }
}

footer {
  display: none;
}

.right {
  float: right;
}

.left {
  float: left;
}

.hidden {
  opacity: 0;
}

$scrollbar-height: 5px;
$scrollbar-padding: 15px;

::-webkit-scrollbar {
  height: (($scrollbar-padding * 2) + $scrollbar-height);
	background-color: rgba(255,255,255,0);
}

::-webkit-scrollbar:vertical {
  width: 8px;
}

::-webkit-scrollbar-track:vertical {
  background-color: #212121;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: $font-color;
}

::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-thumb:horizontal {
	border: 16px solid rgba(255,255,255,0);
	background-clip: padding-box;
}

::-webkit-scrollbar-track:horizontal {
  background-color: #212121;
}

::-webkit-scrollbar-thumb {
	background-color: $font-color;
	&:hover {
		border: $scrollbar-padding solid rgba(255,255,255,0);
	}
}