<div class="icons">
  {% if include.clock %}
  <object data="/assets/img/e5/icons/svg/001-clock.svg" type="image/svg+xml">
    Your Browser doesn't support SVG images.
  </object>
  <div>
    Estimated time of {{ include.clock }}
  </div>
  {% endif %}
  {% if include.ascend && include.descend %}
  <object data="/assets/img/e5/icons/svg/004-mountains.svg" type="image/svg+xml">
    Your Browser doesn't support SVG images.
  </object>
  <div>
    Ascend of {{ include.ascend }} <br />
    Descend of {{ include.descend }}
  </div>
  {% endif %}
  {% if include.distance %}
  <object data="/assets/img/e5/icons/svg/002-gps.svg" type="image/svg+xml">
    Your Browser doesn't support SVG images.
  </object>
  <div>
    Distance of {{ include.distance }}
  </div>
  {% endif %}
  {% if include.weather %}
  <object data="/assets/img/e5/icons/svg/010-cloud.svg" type="image/svg+xml">
    Your Browser doesn't support SVG images.
  </object>
  <div>
    {{ include.weather }} weather
  </div>
  {% endif %}
  {% if include.backpack %}
  <object data="/assets/img/e5/icons/svg/003-backpack.svg" type="image/svg+xml">
    Your Browser doesn't support SVG images.
  </object>
  <div>
    {{ include.backpack }}
  </div>
  {% endif %}
</div>