<!-- 
  Image landscape block
    image: Image in assets/story
    block-width
    image-width
    title
    ##################################
    breakpoint at 888, then 100vw
    normal width 875 (*2 = 1750)
    1	640
    2	1306
    3	1750
-->

<figure>
  <img
    sizes="(min-width: 888px) 875px,
      100vw"
    srcset="
      /assets/img/e5/{{ include.image }}_s.jpg 640w,
      /assets/img/e5/{{ include.image }}_m.jpg 1306w,
      /assets/img/e5/{{ include.image }}_l.jpg 1750w"
    width="1306px" height="980px" src="/assets/img/e5/{{ include.image }}" 
    alt="{{ include.title }}" />
  <figcaption>{{ include.title }}</figcaption>
</figure>